*.zip
raw_scripts/*
datasets/*
datasets_old/*
*.pth
*.pyc
data/raw_ros_data/reference_bag.bag
data/raw_dataset/reference_bag/*
data/processed_dataset/reference_bag/*
data/data_for_gaussian_splatting/reference_bag/*
system_under_test/dave2_input_images/*
cache
*.json
*.h5
