*.zip
raw_scripts/*
datasets/*
datasets_old/*
*.pth
*.pyc
data/extracted_ros_data/reference_bag
data/extracted_ros_data/reference_bag/images/*
data/extracted_ros_data/reference_bag/point_clouds/*
data/generated_data_from_extracted_data/
data/raw_ros_data/reference_bag.bag
data/raw_dataset/reference_bag/*
data/processed_dataset/reference_bag/*
data/data_for_gaussian_splatting/reference_bag/*
system_under_test/dave2_input_images/*
cache
*.json
*.h5
data/data_for_carla/*
!data/data_for_carla/reference_bag/
data/data_for_carla/reference_bag/*
!data/data_for_carla/reference_bag/camera.json